:root,
[data-theme='light'] {
  /* 主题色 */
  --theme-color: #49B1F5;
  --theme-meta-color: #666666;

  /* 基础颜色 */
  --font-color: #4c4948;
  --font-light-color: #ffffff;

  /* 卡片和背景 */
  --jeri-card-bg: #ffffffd0;
  --jeri-page-bg: #ffffff66;
  --jeri-btn: #49B1F5;
  --jeri-btn-hover: #78c2f4ff;
  --jeri-heavy-bg: #f5f5f5;
  --jeri-border: #e0e0e0;

  /* 导航栏 */
  --jeri-nav-font: #eeeeee;
  --jeri-nav-font-hover: #ffffff;
  --jeri-nav-fixed-font: #4c4948;
  --jeri-nav-fixed-font-hover: #33302f;
  --jeri-nav-focus: #49B1F5;
  --jeri-nav-bg: #fffffff2;
  --jeri-nav-menu-bg: #f6f8fa;
  --jeri-nav-menu-bg-hover: #49B1F5;

  /* 页脚 */
  --jeri-footer-icon: #121212;
  --jeri-footer-icon-hover: #eee;
  --jeri-footer-icon-bg-hover: #4c4948;
  --jeri-footer-font: #121212;
  --jeri-footer-font-hover: #ffffff;
  --jeri-footer-font-bg-hover: #49b1f5b3;

  /* 动态说说 */
  --jeri-moment-font: #4c4948;
  --jeri-moment-title: #333;
  --jeri-moment-date: #4c4948;
  --jeri-moment-divider: #eee;
  --jeri-moment-card-bg: #f6f6f6;

  /* 订阅页面 */
  --jeri-subscribe-button: #222;
  --jeri-subscribe-blue: #425aef;
  --jeri-subscribe-font: #4c4948;
  --jeri-subscribe-background: #f7f7f9;
  --jeri-subscribe-secondbg: #f0f0f0;
  --jeri-subscribe-card-border: #e0e0e0;
  --jeri-subscribe-wechat: #27c125;
  --jeri-subscribe-mail: #425aef;
  --jeri-subscribe-rss: #e38100;
}

/* 暗色主题 */
[data-theme='dark'] {
  --font-color: #ffffffb3;
  --font-light-color: #ffffffb3;

  --jeri-card-bg: #121212b0;
  --jeri-page-bg: #00000000;
  --jeri-btn: #1f1f1f;
  --jeri-btn-hover: #787878;
  --jeri-heavy-bg: #1f1f1f;
  --jeri-border: #3a3a3a;

  --jeri-nav-font: #b8b8b8;
  --jeri-nav-font-hover: #cfcfcf;
  --jeri-nav-fixed-font: #b8b8b8;
  --jeri-nav-fixed-font-hover: #cfcfcf;
  --jeri-nav-focus: #cfcfcf;
  --jeri-nav-bg: #000000ee;
  --jeri-nav-menu-bg: #121212cc;
  --jeri-nav-menu-bg-hover: #363636;

  --jeri-footer-icon: #b8b8b8;
  --jeri-footer-icon-hover: #555;
  --jeri-footer-icon-bg-hover: #b8b8b8;
  --jeri-footer-font: #b8b8b8;
  --jeri-footer-font-hover: #eee;
  --jeri-footer-font-bg-hover: #383838;

  --jeri-moment-font: #b8b8b8;
  --jeri-moment-title: #ddd;
  --jeri-moment-date: #bbb;
  --jeri-moment-divider: #555;
  --jeri-moment-card-bg: #222;

  --jeri-subscribe-button: #9f9f9f;
  --jeri-subscribe-blue: #425aef;
  --jeri-subscribe-font: #b8b8b8;
  --jeri-subscribe-background: #2d2d2d;
  --jeri-subscribe-secondbg: #363636;
  --jeri-subscribe-card-border: #555;
  --jeri-subscribe-wechat: #28c125bb;
  --jeri-subscribe-mail: #425aefbb;
  --jeri-subscribe-rss: #e38100bb;
}